@charset "gb2312";
article{width: 82% !important;}
aside{width: auto;}
.infosbox {width:100% !important; overflow: hidden; background:#fff; margin-bottom:20px}
.newsview { padding: 0 5px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.infosbox .bloginfo{ width:100%; overflow:hidden; margin-bottom:10px; clear:both}
.infosbox .bloginfo ul{ overflow:hidden}
.infosbox .bloginfo li{ float:left; margin-right:20px}
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.news_content { line-height: 24px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }
.tags a { background: #F4650E; padding: 3px 8px; margin: 0 5px 0 0; color: #fff; display:block ; float:left}
.tags { width:100%; overflow:hidden; clear:both}
.infosbox img { max-width: 650px; height: auto; width:100% }
.share { padding: 20px; }
.nextinfo { line-height: 24px; width: 100%; overflow: hidden; margin: 20px 0 }/*上一篇下一篇*/
.nextinfo p { padding: 4px 10px; border-radius: 5px; }
.nextinfo a{
  color: #7852d2!important;
}
.nextinfo a:hover { color: blue!important; text-decoration: underline }
/*文章评论*/
.news_pl { margin: 10px 0; width: 100%;  overflow: hidden;  }
.news_pl li strong {
  color: #e45820 !important;
}
.r_box { width: 25%; float: right }
.r_box h2 { color: #333; font-size: 14px; line-height: 30px; padding-left: 20px; background: #f8f8f8;    border-bottom: 1px solid #ddd;  }
.r_box div { background: #fff; margin-bottom: 20px; overflow: hidden ;border: 1px solid #ddd;}
.r_box div ul { padding: 10px; overflow: hidden }

.news_pl h2 {border-bottom: #806767 2px dashed; line-height: 40px; font-size: 14px; padding-left: 10px; color: #000 }
.diggit {  width: 160px; margin: auto; background: #E2523A; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff; }
#diggnum { margin: 5px; }
.guanzhu{}

pre.prettyprint{
  /*  width: auto;
    overflow: auto;
    max-height: 600px*/
       display: block;
    overflow: auto;
    width: auto;
    /* max-height: 600px; */
    white-space: pre;
    word-wrap: normal;
    padding: 5px; 
}
#comment-box{
    display: none;
}
 #comment-box textarea{
    height: 60px;
    width: 300px;

    border: 1px solid #4a4a4a !important;
  }
  #comment-box input {
    border: 1px solid silver !important;
    width: 3em;
    color: block;
    height: auto;
  }
    #comment-box input:hover {
    border: 1px solid #ffac55 !important;
    width: 3em;
    color: white;
    background: #ffac55;
    height: auto;
  }
  #tip{
    display: none;
    
  }
  #talk span{
    user-select: none;
    cursor: pointer;
    margin-right: 1em;
  }
  #talk span:hover{
    color: blue;
  }
  #talk span font{
    color: orange;
  }@charset "gb2312";
article{width: 82% !important;}
aside{width: auto;}
.infosbox {width:100% !important; overflow: hidden; background:#fff; margin-bottom:20px}
.newsview { padding: 0 5px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.infosbox .bloginfo{ width:100%; overflow:hidden; margin-bottom:10px; clear:both}
.infosbox .bloginfo ul{ overflow:hidden}
.infosbox .bloginfo li{ float:left; margin-right:20px}
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.news_content { line-height: 24px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }
.tags a { background: #F4650E; padding: 3px 8px; margin: 0 5px 0 0; color: #fff; display:block ; float:left}
.tags { width:100%; overflow:hidden; clear:both}
.infosbox img { max-width: 650px; height: auto; width:100% }
.share { padding: 20px; }
.nextinfo { line-height: 24px; width: 100%; overflow: hidden; margin: 20px 0 }/*上一篇下一篇*/
.nextinfo p { padding: 4px 10px; border-radius: 5px; }
.nextinfo a{
  color: #7852d2!important;
}
.nextinfo a:hover { color: blue!important; text-decoration: underline }
/*文章评论*/
.news_pl { margin: 10px 0; width: 100%;  overflow: hidden;  }
.news_pl li strong {
  color: #e45820 !important;
}
.r_box { width: 25%; float: right }
.r_box h2 { color: #333; font-size: 14px; line-height: 30px; padding-left: 20px; background: #f8f8f8;    border-bottom: 1px solid #ddd;  }
.r_box div { background: #fff; margin-bottom: 20px; overflow: hidden ;border: 1px solid #ddd;}
.r_box div ul { padding: 10px; overflow: hidden }

.news_pl h2 {border-bottom: #806767 2px dashed; line-height: 40px; font-size: 14px; padding-left: 10px; color: #000 }
.diggit {  width: 160px; margin: auto; background: #E2523A; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff; }
#diggnum { margin: 5px; }
.guanzhu{}

pre.prettyprint{
  /*  width: auto;
    overflow: auto;
    max-height: 600px*/
       display: block;
    overflow: auto;
    width: auto;
    /* max-height: 600px; */
    white-space: pre;
    word-wrap: normal;
    padding: 5px; 
}
#comment-box{
    display: none;
}
 #comment-box textarea{
    height: 60px;
    width: 300px;

    border: 1px solid #4a4a4a !important;
  }
  #comment-box input {
    border: 1px solid silver !important;
    width: 3em;
    color: block;
    height: auto;
  }
    #comment-box input:hover {
    border: 1px solid #ffac55 !important;
    width: 3em;
    color: white;
    background: #ffac55;
    height: auto;
  }
  #tip{
    display: none;
    
  }
  #talk span{
    user-select: none;
    cursor: pointer;
    margin-right: 1em;
   
  }
  #talk span:hover{
    color: blue;
  }
  #talk span font{
    color: orange;
  }